<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="sugarsoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/SuiteCRM/service/v4_1/soap.php"
                binding="basicHttpBinding" bindingConfiguration="sugarsoapBinding"
                contract="ServiceReference1.sugarsoapPortType" name="sugarsoapPort" />
        </client>
    </system.serviceModel>
</configuration>